<!DOCTYPE HTML>
<html>
	<head>
		<title>Entity to find</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<!--[if lte IE 8]><script src="/static/assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/static/assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="/static/assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="/static/assets/css/ie8.css" /><![endif]-->
	</head>

	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
				<!-- Note: The "styleN" class below should match that of the banner element. -->
					<header id="header" class="alt style2">
						<a href="{{ url_for('index') }}" class="logo"><strong>Anomaly</strong> <span>Detection</span></a>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<ul class="links">
							<li><a href="{{ url_for('create_entity') }}">Create Entity</a></li>
							<li><a href="{{ url_for('list_entities') }}">List Entities</a></li>
                            <li><a href="{{ url_for('send_bulk_request') }}">Send massive request</a></li>
						</ul>
					</nav>

				<!-- Banner -->
				<!-- Note: The "styleN" class below should match that of the header element. -->
					<section id="banner" class="style2">
						<div class="inner">
							<header class="major">
								<h1>List Entities</h1>
							</header>

						</div>
					</section>

				<!-- Main -->
					<div id="main">


					</div>

				<!-- Contact -->
					<section id="contact">
						<div class="inner">
							<section>
								<form>
									<div >
										<ul class="links">

                                        {% for element in result %}
                                              <li> {{ element[0] }} , {{ element[1] }} , {{ element[2] }} </li>
                                        {% endfor %}
						                </ul>
									</div>


                                    <p></p>

									<ul class="actions">
										<li><input type="submit"  value="Send" class="special"  /></li>
										<li><input type="reset" value="Clear"   /></li>
									</ul>
								</form>
							</section>


						</div>
					</section>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<ul class="copyright">
								<li>&copy; Untitled</li>
								<li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
								
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="../static/assets/js/jquery.min.js"></script>
			<script src="../static/assets/js/jquery.scrolly.min.js"></script>
			<script src="../static/assets/js/jquery.scrollex.min.js"></script>
			<script src="../static/assets/js/skel.min.js"></script>
			<script src="../static/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="../static/assets/js/main.js"></script>

	</body>
</html>